
$xs-small:12px;
$small:16px;
$normal:20px;
$medium:30px;
$big:40px;
$x-big:70px;
$xx-big:80px;
//Navigation
$navigation-font-basic:16px;
$navigation-font-basic-submenu:14px;
//Tabs
$tab-font-header:16px;
//Accordion
$accordion-header:16px;
//Breadcrumb
$breadcrumb-font:15px;
// Link List
$link-list-title-font:15px;
// Footer 
$footer-heading:16px;
$footer-sub-menu:14px;
// Forms input
$input-field:16px;

// course-listing
$listing-font:12px;
