@import './vars';

.footer{
    border-top:1px solid $border-gray;
    padding: 3rem 0 0rem;
    .feedback-text-image{
        p{
            color: $black;
            font-size: $small;
            padding-top: 3rem;
        }
    }
    .links{
        h4{
            font-size:$normal;
        }
        ul{
            li{
                font-size:$small;
                padding: 0.4rem 0;
            }
        }
    }
    .social-media{
        display: flex;
        align-content: flex-end;
        flex-wrap: wrap;
    }
}